# Telegram bot library
python-telegram-bot==20.4

# Async HTTP requests
aiohttp==3.8.5

# Language detection
langdetect==1.0.9

# Upgrade build tools supaya Railway bisa compile package besar
setuptools>=67.8.0
wheel>=0.40.0
pip>=23.2.1
